<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>@ViewData["Title"] - ItemPedido</title>
</head>
<body>
   <header>
       <h2>Registro de pedidos</h2>
   </header>
   <div>
       <main role="main">
           @RenderBody()
       </main>
   </div>
   <footer>
       <div>
           © 2019 - ItemPedido
       </div>
   </footer>
</body>
</html>