@model ItemPedido

<h2>Detalhes do pedido </h2>
<p>
    <label asp-for="Quantidade">Quantidade de pedido:</label>
    <input asp-for="Quantidade" />
</p>
<p>
    <Label asp-for="ValorUnitario">ValorUnitario:</Label>
    <input asp-for="ValorUnitario" />
</p>
<p>
    <label asp-for=" Descricao">Descricao do produto:</label>
    <input asp-for="Descricao"/>
</p>